
.expense-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    flex-direction: column;
  }
  
  .expense-info {
    display: flex;
    flex-direction: column;
  }
  
  .expense-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .expense-category {
    color: gray;
    font-size: 14px;
  }
  
  .expense-amount {
    font-size: 18px;
    font-weight: bold;
    color: green;
  }
  .expense-figure{
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    width: 100%;
    max-width: 600px;
  }
  
  .expense-date {
    font-size: 14px;
    color: gray;
  }
  